/* ========================== Component Name ========================== */
$component: .blog-11;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply grid relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    grid-gap: 2rem;
    grid-auto-rows: minmax(min-content, max-content);
  }

  &__post-description {
    @apply text-wire-gray;
    margin-top: 1rem;
  }

  &__post {
    @apply inline-block relative;
    border-radius: 0.5rem;
    max-height: 272px;
  }

  &__post-title {
    font-weight: 300;
  }

  &__post-img {
    width: 100%;
    height: 100%;
    max-height: 272px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }

  &__post-overlay {
    @apply p-6;
    max-height: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__post-date {
    @apply text-wire-gray;
    justify-self: flex-end;
    margin-top: 1rem;
  }

  /* ========================== Modifiers ========================== */
  &__post-featured {
    @apply grid border border-wire-light;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 0.5rem;

    $(component)__post-img {
      height: auto;
      max-height: none;
    }

    $(component)__post-content {
      @apply p-6;
    }

  }
  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-rows: repeat(2, minmax(min-content, 272px));
      grid-template-columns: repeat(12, 1fr);
    }

    &__post:nth-child(2) {
      grid-area: 1 / 9 / span 1 / span 4;
    }

    &__post:nth-child(3) {
      grid-area: 2 / 9 / span 2 / span 4;
    }

    &__post-featured {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(8, 1fr);
      grid-area: 1 / 1 / span 2 / span 8;

      $(component)__post-img {
        height: 100%;
        grid-area: 1 / 1 / span 1 / span 5;
        border-radius: 0.5rem 0 0 0.5rem;
      }

      $(component)__post-content {
        @apply flex relative;
        flex-wrap: wrap;
        grid-area: 1 / 6 / span 1 / span 8;

        & > * {
          width: 100%;
        }

        span {
          align-self: center;
          padding-top: 10%;
        }
      }

      $(component)__post-date {
        margin-top: 0;
        align-self: flex-end;
      }
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
